@{
    ViewData["Title"] = "Home";
    Dictionary<string, string> ModelNameWithValue = ViewBag.ModelNameWithValue;
}



<div class="mt-3">
    <div class="">
        <form>
            <div class="mb-3">
                <label for="inputprompt" class="form-label fw-bold">Input or Prompt: </label>
                <textarea class="form-control" id="inputprompt" rows="10" placeholder="Enter the Text"></textarea>
            </div>
            <partial name="ModelSelectors" model="ModelNameWithValue"></partial>
            <div class="d-grid mb-3">
                <button class="btn btn-primary" id="classify-btn" type="button">
                    <span class="classify-btn-text">Classify</span>
                    <span class="spinner-border spinner-border-sm spinner visually-hidden" aria-hidden="true"></span>
                </button>
            </div>
        </form>
        <div class="">
            <p class="fw-bold">Classification Result:</p>
            <div class="border-1 h-100 rounded-1 p-2" id="classification-result">
            </div>
            
        </div>
        <div class="mt-3" id="">
            <p class="fw-bold">Thinking Steps: </p>
            <div class="border-1 p-2" id="thinking-result"></div>
        </div>
    </div>

    <div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Home.js"></script>
}
